
#odin-recipes {
    background-color: green;
    color: yellow;
    text-align: center;
    font-family: arial;
    padding: 10px;
    font-size: 35px;
}

p.salmon-recipe {
    background-color: rgb(152, 152, 252);
}

p.cauliflower-recipe {
    background-color: rgb(128, 119, 136);
    color: yellow; 
}

p.secret-recipe {
    background-color: rgb(152, 243, 152);
    color: rgb(255, 0, 0);
}

#rick-pic {
    height: 25px; width: 35px;
}

.salmon-recipe, .cauliflower-recipe, .secret-recipe {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    border: 2px solid black;
    padding: 15px;
}